body{
  
  background-color:white;
}

.title{
  font-size:200%;
  text-align:left;
  border:none;
  padding-right:130px;
  
}
a{
  text-decoration: none;
  border:solid;
  border-color:white;
  color:white;
  margin:10px;  
}
h1{
  color:white;
}
h3{
  font-size:200%;
  text-align:center;
  color:white;
}
h5{
  font-size:110%;
  text-align:center;
  color:white;
}

canvas{
position:fixed;
top:0;
left:0;
}
